<%= render 'articles/header' %>
<div class="container">
  <% @articles.each do |article| %>
    <div class="notification">
      <div class="notification-content">
        <p><%= link_to article.title, article_path(article) %></p>
        <p><%= article.content %></p>
      </div>
    </div>
  <% end %>
</div>
